In [1]:
import pandas as pd
import numpy as np

In [2]:
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

In [3]:
school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)

In [9]:
school_df = school_df.rename(columns={"name":"school"})
df = pd.merge(school_df, student_df, on="school")
df.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [10]:
df['School ID'].nunique()

15

In [11]:
df['Student ID'].nunique()

39170

In [55]:
school_df['budget'].sum()

24649428

In [14]:
df['reading_score'].mean()

81.87784018381414

In [15]:
df['math_score'].mean()

78.98537145774827

In [68]:
grouped_schools_funcs = df.groupby(['School ID']).agg({'Student ID':['count'], 'reading_score':['mean'], "math_score":['mean']})
grouped_schools_funcs.columns =

          Student ID reading_score math_score
               count          mean       mean
School ID
0               2917     81.182722  76.629414
1               2949     81.158020  76.711767
2               1761     83.725724  83.359455
3               4635     80.934412  77.289752
4               1468     83.816757  83.351499
5               2283     83.989488  83.274201
6               1858     83.975780  83.061895
7               4976     81.033963  77.048432
8                427     83.814988  83.803279
9                962     84.044699  83.839917
10              1800     83.955000  83.682222
11              3999     80.744686  76.842711
12              4761     80.966394  77.072464
13              2739     80.746258  77.102592
14              1635     83.848930  83.418349